<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>About US</title>
<link rel="stylesheet" type="text/css" th:href="@{form.css}">
</head>
<body>

<div id="webpage" align="center">

<div id="header">
<img th:src="@{paw.gif}" src="paw.gif" height="165px" align="left"/>
<img th:src="@{paw.gif}" src="paw.gif" height="165px" align="left"/>
<a href="/">
<img th:src="@{Dog.png}" src="Dog.png" width="600px" height="165px" align="left"/>
</a>

<ul style="padding-left:140px; border-radius:12px">
<li style="background-color:#FFFAF0;border-radius:12px">
<form th:action="@{/hanlerPage}">
<li style="border-radius:12px">
<input style="background-color:#5F9EA0;border-radius:12px" type="submit" value ="Login For Handler"> </li>
</form>
</li>
</ul>

<br>

<ul style="padding-left:120px; border-radius:12px">
<li style="background-color:#FFFAF0;border-radius:12px">
<form th:action="doghandlerreg">
<li style="border-radius:12px">
<input style="background-color:#5F9EA0;border-radius:12px" type="submit" value ="Dog Handler registartion"> </li>
</form>
</li>
</ul>

<br><br><br><br>
<ul>
<li><form action="/">
<li><input type="submit" value ="Home"> </li>
</form>
</li>

<li><form action="randomDogs">
<li><input type="submit" value ="Generate Random Dogs"> </li>
</form>
</li>

<li><form action="view">
<li><input type="submit" value ="View All Listed Dogs"></li>
</form>
<li>

<li>
<form action="search">
<li><input type="submit" value ="Search By Categories"> </li>
</form>
</li>


<li>
<form action="showList" method="get">
<li><input type="submit" value ="Show list"> </li>
</form>
</li>

<li>
<form action="displayindi" method="get">
<li><input type="submit" value ="Shows Days"> </li>
</form>
</li>

<li><form th:action="@{/addDog}">
<li><input type="submit" value ="Add Dogs"> </li>
</form>
</li>

<li><form action="aboutus">
<li><input type="submit" value ="AboutUS"> </li>
</form>
</li>

<li><form action="contactus">
<li><input type="submit" value ="ContactUS"> </li>
</form>
</li>

</ul>
</div>


<div id="content">

<h1> <font color="white">About US</font></h1>

<h3> <font color="white">MISSION OF THE DOG SHOW </font> </h3>
<p> <font color="white">
The mission of the dog show is to give instruction to dogs and arrange dogshows back to back This is accomplished in two different ways: <br>
in displaying the numerous fields where pooches enrolled with the American Kennel Club can take an interest. <br>
 The the dog show tries to raise the consciousness of the thoroughbred canine's striking adaptability; and by giving a one of a kind chance to the general population to meet devoted and proficient reproducers. <br>
  It helps and energizes those in the market for a thoroughbred canine to settle on an educated and proper decision. 
<</font></p>

<h3>  <font color="white">THE HISTORY OF THE DOG SHOW </font> </h3>

<p> <font color="white">
The First The Dog Show sidelined pooch show was held in April of 1916 at the Sheridan College, Brampton, ON, Canada. There were four judges and inventories cost a quarter. The 1917 inventory records more than 250 The Dog Show, numerous from the rich groups of Ontario. In its initial couple of long stretches of presence, the area of the show shifted back and forth between the Ontario and the Alberta State Fairgrounds, and the season of the occasion differed also. By the 1920s, the show had moved to the Brampton Convention Hall situated at Mississauga.The yearly sidelined show soon a short time later turned into a March custom, and the inventory value rose to fifty pennies! In 1949, the show moved back to the Fairgrounds where it stayed until its migration to London Hall in 1964. In 2013, the show moved by and by, this opportunity to the Malav Collection Showplace in June, where it remains today. 

Up until the 1950s, there were regularly upwards of twenty veterinarians in participation at the The Dog Show appears, as all mutts must be examined for distemper and different infectious maladies before being permitted to enter the presentation lobby. As a sidelined show, in the early years, hounds needed to stay on the seat until the show entryways were shut down at 10 p.m., and were just permitted to practice at explicit occasions during the day. 

Continually looking to speak to the best of thoroughbred canines, The Dog shows give devotees today–the two exhibitors and onlookers openings appreciate numerous uncommon occasions which go with the conventional compliance appears. Late occasions have included fragrance work, weight pulls, administration hound presentations, dutifulness and rally preliminaries, just as extraordinary displays of uncommon breeds only from time to time found in the Canada. 

The Dog Show anticipates proceeding to share the stunning universe of thoroughbred mutts into the following century and past.
</font>
</p>

</div>
</div>
</body>
</html>