<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Contact US</title>
<link rel="stylesheet" type="text/css" th:href="@{form.css}">
</head>
<body>

<div id="webpage" align="center">

<div id="header">
<img th:src="@{paw.gif}" src="paw.gif" height="165px" width="185px" align="left"/>
<img th:src="@{paw.gif}" src="paw.gif" height="165px" width="185px" align="left"/>
<a href="/">
<img th:src="@{Dog.png}" src="Dog.png" width="600px" height="165px" align="left"/>
</a>

<ul style="padding-left:140px; border-radius:12px">
<li style="background-color:#FFFAF0;border-radius:12px">
<form th:action="@{/hanlerPage}">
<li style="border-radius:12px">
<input style="background-color:#5F9EA0;border-radius:12px" type="submit" value ="Login For Handler"> </li>
</form>
</li>
</ul>

<br>

<ul style="padding-left:120px; border-radius:12px">
<li style="background-color:#FFFAF0;border-radius:12px">
<form th:action="doghandlerreg">
<li style="border-radius:12px">
<input style="background-color:#5F9EA0;border-radius:12px" type="submit" value ="Dog Handler registartion"> </li>
</form>
</li>
</ul>

<br><br><br><br>
<ul>
<li><form action="/">
<li><input type="submit" value ="Home"> </li>
</form>
</li>

<li><form action="randomDogs">
<li><input type="submit" value ="Generate Random Dogs"> </li>
</form>
</li>

<li><form action="view">
<li><input type="submit" value ="View All Listed Dogs"></li>
</form>
<li>

<li>
<form action="search">
<li><input type="submit" value ="Search By Categories"> </li>
</form>
</li>


<li>
<form action="showList" method="get">
<li><input type="submit" value ="Show list"> </li>
</form>
</li>

<li>
<form action="displayindi" method="get">
<li><input type="submit" value ="Shows Days"> </li>
</form>
</li>

<li><form th:action="@{/addDog}">
<li><input type="submit" value ="Add Dogs"> </li>
</form>
</li>

<li><form action="aboutus">
<li><input type="submit" value ="AboutUS"> </li>
</form>
</li>

<li><form action="contactus">
<li><input type="submit" value ="ContactUS"> </li>
</form>
</li>

</ul>
</div>

<div id="content">

<h1> <font color="white">Contact US</font></h1>

<table>

<tr>
<td>
<h3><font color="white"> Office Address </font></h3>
<p><font color="white">
The Dog Show <br>
Room No: B212 <br>
Sheridan College,Bramton, ON <br>
Postal Code: L6Y5H9 <br>
</font>
</p>
   </td>
   <td>
<h3><font color="white"> Contact Person </font></h3>
<p>
<font color="white">
Malav Jani <br>
Phone No: 647-289-6730 <br>
</font>
<br>
<font color="white">
Rutul Patel <br>
Phone No: 905-509-3445 <br>
</font>
</p>
</td>
</tr>
</table>
</div>
</div>
<h4> <font color="white"> CopyRight @Malav Jani & Rutul Patel</h4>
</body>
</html>