<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Dog Registration</title>
<link rel="stylesheet" type="text/css" th:href="@{form2.css}">
<style>
.gtext {
    color: white;
    font-size: 110%;
}
.g {
    color: white;
    text-shadow: 2px 2px 5px blue;
    font-size: 140%;
}
</style>
</head>
<body>

<div id="webpage" align="center">

<div id="header">
<img th:src="@{paw.gif}" src="paw.gif" height="165px" width="185px" align="left"/>
<img th:src="@{paw.gif}" src="paw.gif" height="165px" width="185px" align="left"/>
<a href="/">
<img th:src="@{Dog.png}" src="Dog.png" width="600px" height="165px" align="left"/>
</a>

<ul style="padding-left:140px; border-radius:12px">
<li style="background-color:#FFFAF0;border-radius:12px">
<form th:action="@{/hanlerPage}">
<li style="border-radius:12px">
<input style="background-color:#5F9EA0;border-radius:12px" type="submit" value ="Login For Handler"> </li>
</form>
</li>
</ul>

<br>

<ul style="padding-left:120px; border-radius:12px">
<li style="background-color:#FFFAF0;border-radius:12px">
<form th:action="doghandlerreg">
<li style="border-radius:12px">
<input style="background-color:#5F9EA0;border-radius:12px" type="submit" value ="Dog Handler registartion"> </li>
</form>
</li>
</ul>

<br><br><br><br>
<ul>
<li><form action="/">
<li><input type="submit" value ="Home"> </li>
</form>
</li>

<li><form action="randomDogs">
<li><input type="submit" value ="Generate Random Dogs"> </li>
</form>
</li>

<li><form action="view">
<li><input type="submit" value ="View All Listed Dogs"></li>
</form>
<li>

<li>
<form action="search">
<li><input type="submit" value ="Search By Categories"> </li>
</form>
</li>


<li>
<form action="showList" method="get">
<li><input type="submit" value ="Show list"> </li>
</form>
</li>

<li>
<form action="displayindi" method="get">
<li><input type="submit" value ="Shows Days"> </li>
</form>
</li>

<li><form th:action="@{/addDog}">
<li><input type="submit" value ="Add Dogs"> </li>
</form>
</li>

<li><form action="aboutus">
<li><input type="submit" value ="AboutUS"> </li>
</form>
</li>

<li><form action="contactus">
<li><input type="submit" value ="ContactUS"> </li>
</form>
</li>

</ul>
</div>

<div id="content">

<center>
<h1> <font color="white">Registeration For Dog Handlers </font> </h1>

<h2> <font color="white">Details for dog handler</font> </h2>

<form th:action="@{/hander}" method='get'> 

<TABLE BORDER="1">

<tr>
<td> <font color="white"> Handler UserName </font> </td>
<td>
<input type="text" name="hu">
</td>
</tr>

<tr>
<td> <font color="white"> Handler Password </font> </td>
<td>
<input type="text" name="hp">
</td>
</tr>

<tr>
<td> <font color="white"> Handler Contact Number </font> </td>
 <td> <input type="text" name="number"> </td>
</tr>

<tr>
<td> <font color="white"> Handler Emailid </font> </td>
 <td> <input type="text" name="email"> </td>
</tr>

<table>
<tr>
<th class="g"> Entry Number </th>
<th class="g">   Dog Name  </th>
<th class="g">   Owner Name </th>
<th class="g">   Breed </th>
<th class="g">   Dog Group  </th>
<th class="g">   Gender  </th>
<th class="g">   Ranking </th>
<th class="g">   <input type="checkbox" id="allselected"> </th>
</tr>

<font color="white">
<tr th:text= "${err}"></tr> </font>
<tr class="gtext" th:each= "dog : ${dogList}">
<td class="gtext" th:text="${dog.entryNumber}"> </td>
<td  class="gtext" th:text="${dog.dogName}"> </td>
<td class="gtext" th:text="${dog.ownerName}"> </td>
<td  class="gtext" th:text="${dog.breed}"> </td>
<td  class="gtext" th:text="${dog.group}"> </td>
<td class="gtext" th:text="${dog.gender}"> </td>
<td class="gtext" th:text="${dog.ranking}"> </td>

<td><input type="checkbox" name= "entry_Number"  th:value="${dog.entryNumber}" ></td>

<!--  <td><a href="" th:href="@{/delete/{num}(num=${{dog.entryNumber})}">Delete</a></td> -->
</tr>
</font>
</table>




<tr >
<td colspan="2" align="center">
<input type="submit" value ="submit">
</td>
</tr>
</TABLE>
</form>
<br>


</center>


</div>
</div>
<h4> <font color="white"> CopyRight @Malav Jani & Rutul Patel</h4>
</body>
</html>